<div class="panel"><div class="panel-body">

<h3>我希望成为VIP会员</h3>

<div class="row">

  <div class="col-md-12">

    <h4>如何成为VIP:</h4>
    <ul>
      <li>认真填写个人资料 (资料对外保密)</li>
      <li></li>
    </ul>


  </div>


  <div class="col-md-12">

    <%= render 'wishlists/form' %>

  </div>

</div>
</div></div>