<div class="panel"><div class="panel-body">

<h3>精益云学院2015会员计划</h3>

<div class="row">

  <div class="col-md-12">
    <p>精益云学院充分考虑到企业需要方便、成本节约、范围广泛培训的情况，从而推出的VIP会员服务。 一年内购买精益云学院所有的公开课。可以不限次数的持续观看我们的课程。</p>
    <p><strong>我们的优势：</strong></p>
    采用最领先的互联网在线授课模式，结合线下服务的方式，为客户带来全方位的服务。
    <ul>
      <li>公开课：学习理念、传授技能和方法；</li>
      <li>案例：将通过网络带你到现场，解说相应的案例；</li>
      <li>演讲：我们将邀请行业专家为我们分享最新的业内知识；</li>
      <li>内训：按照您的需求，我们有业内行业顾问专门为你定制企业内训；</li>
      <li>咨询：拥有国内外权威专家师资库，其中超过80%的顾问都具有丰富的企业实战经验；</li>
      <li>认真填写个人资料 (资料对外保密)</li>
      <li>对精益转变有很极大的兴趣</li>
    </ul>

    <p><strong>VIP会员的权利及会员卡服务方式：</strong></p>
    <p>精益云学院年卡 - 即有效期从购买之日起，满一年为止（例如2015年1月2日开通会员服务，有效期为2016年1月1日止）。</p>

      会员卡以无卡形式存在，会员开通后，精益云学院会将会员的会员卡信息通过邮件，短信等形式告知会员。

      持卡企业（个人）可在一年有效期内，任意选择精益云学院的在线课程学习，直至会员卡有效期至。 次年继续缴费或升级即可。

      线下内训和咨询服务 - 企业可根据自身企业状况，通过邮件或者电话的方式与我们联系，提供相应的企业内训和咨询需求，我们会有专业的顾问为您提供企业内训和咨询服务。

      <p>办理流程</p>
      <ul>
      <li>精益云学院快递会员合同2两份快递到企业（个人）</li>
      <li>企业签署合同加盖公章一份留档，一份与企业营业执照复印件一同快递至精益云学院（个人用户则将合同与个人身份证复印件一同快递）</li>
      <li>企业（个人）在合同签署一周内进行付款</li>
      <li>精益云学院快递相应金额发票至会员单位</li>
      <li>精益云学院查到款项后以电子邮件、传真、电话方式分别告知会员单位，同时会员卡生效会员卡办理成功。</li>
      <</ul>
    </p>
  </div>


  <div class="col-md-12">

    <%= render 'wishlists/form' %>

  </div>

</div>
</div></div>