<p>你好 <%= @resource.email %>!</p>

<p>这是一封来自精益云学院的找回密码的邮件 点击下面链接来修改密码.</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不是你的操作，请你忽略掉这封邮件.</p>
<p>如果你不点链接重置密码，你的密码还将是之前的密码.</p>
